@import "/winehq/styles.css";

#Logo
{
  position: absolute;
  z-index: 2;
  top: 20px;
  left: 50px;
  width: 100px;
  height: 157px;
}

#Project
{
  position: absolute;
  z-index: 3;
  top: 40px;
  left: 110px;
  width: 186px;
  height: 58px;
}

/* sidebar styles copied from forum.winehq.org */
/* sidebar navigation */
#menu
{
  display: inline;
  position: absolute;
  z-index: 6;
  top: 200px;
  left: 0px;
  margin: 0px;
  padding: 0px;
  width: 156px;
}
#menu UL
{
  list-style: none;
  width: 156px;
  padding: 0;
  margin: 0 0 10px 0;
}
#menu LI
{
  width: 156px;
  margin: 0;
  padding: 5px 0 0 0;
  background-image: url('winehq/images/side_menu_bg.png');
  background-repeat: repeat-y;
  font-size: 10px;
  color: white;
}
#menu LI P
{
  margin: 0; padding: 0 15px 5px 15px;
}
#menu LI.top
{
  height: 33px;
  margin: 0;
  padding: 0;
  background-image: url('winehq/images/side_menu_top.png');
  background-repeat: no-repeat;
  font-weight: bold;
  font-size: 10px;
}
#menu LI.top P
{
  margin: 0;
  padding: 10px 0 0 5px;
}
#menu LI.divider
{
  display: none;
}
#menu LI.bot
{
  height: 16px;
  margin: 0;
  padding: 0;
  background-image: url('winehq/images/side_menu_bot.png');
  background-repeat: no-repeat;
}
#menu A
{
  font-size: 10px;
  color: white;
  text-decoration: none;
}
#menu A:hover
{
  font-size: 10px; text-decoration: underline;
}

#ContentContainer
{
  padding: 20px 20px 10px 80px;
  background: #FFFFFF;
}

/* General text */
A:visited
{
  color: #A50D0D;
  text-decoration: none;
}

A
{
  color: #A50D0D;
  text-decoration: none;
}

A:hover
{
  color: #FF6666;
  text-decoration: underline;
}

.Required
{
   color: #FFA34F;
   position: relative;
   bottom: 0.5em;
   font-size: 0.8em;
}         

h1, h2
{
  color: #FFA34F;
  font-weight : bold;
  text-align: center;
  background-color: #601919;
}

h1
{
   padding: 5px;
   margin-bottom: 2em;
}

h2
{
  padding: 2px;
  font-size: 14pt;
}

.DetailsBody p 
{
   text-align: center;
}

.DetailProperty
{
   display: block;
   width: 100%;
   margin-bottom: 0.25em;
}

.DetailProperty label
{
   width: 45%;
   display: block;
   float: left;
   text-align: right;
   margin-right: 6px;
}

.DetailActions
{
  display: block;
  width: 100%;
  text-align: center;
  height: 2em;
  margin-top: 2em
}

.ItemBody p 
{
   text-align: center;
}

.ItemProperty
{
   display: block;
   width: 100%;
   margin-bottom: 0.25em;
}

.ItemProperty label
{
  width: 45%;
  display: inline-block;
  vertical-align: middle;
  text-align: right;
  padding-right: 6px;
}

.ItemValue
{
  display: inline-block;
  vertical-align: middle;
  /* The joys of IE. Got the following 2 lines from
     http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/ */
  zoom: 1;
  *display: inline;
}

.ItemActions
{
  display: block;
  width: 100%;
  text-align: center;
  height: 2em;
  margin-top: 2em
}

.CollectionBlock table
{
  margin-left: auto;
  margin-right: auto;
  padding: 4px;
  border: 1px solid #601919;
  background-color: white;
}

.CollectionBlock th
{
  text-align: left;
  background-color: #601919;
  color: white;
  padding: 4px;
  margin: 0;
  border: 1px solid white;
}

.CollectionBlock td
{
  border: 1px solid white;
}

.CollectionBlock tr.even
{
  background-color: #fff8f8;
  color: black;
}

.CollectionBlock tr.odd
{
  background-color: #f8e8e8;
  color: black;
}

.CollectionBlockActions
{
  display: block;
  width: 100%;
  text-align: center;
  height: 2em;
  margin-top: 2em
}

.GeneralStatus
{
  text-align: center;
}

.GeneralStatusItem
{
  display: inline-block;
  zoom: 1;
  *display: inline;
  padding-left: 4px;
  padding-right: 4px;
}

.GeneralStatusItemText
{
  display: inline;
/*
  vertical-align: middle;
*/
  margin-left: 4px;
}

.GeneralFooterText
{
  text-align: right;
  font-size: smaller;
  font-style: italic;
}


.Screenshot
{
  display: block;
  text-align: center;
  margin-bottom: 0.75em;
}

.TaskMoreInfoLinks
{
  display: block;
  margin-bottom: 0.25em;
}

.TaskMoreInfoLink
{
  display: inline;
  margin-right: 2em;
}

.TaskMoreInfoSelected
{
    border: 1px solid #a50d0d;
    padding: 2px;
}

.LogDllName
{
  font-weight: bold;
  padding-top: 0.5em;
  padding-bottom: 0.1em;
}

.HrTitle {
  margin-top: 0.5em;
  display: flex;
  align-items: center;
  color: #a50d0d;
}

.HrLine {
  border-top: 1px solid grey;
  flex-grow: 1;
  margin: 0 10px;
  border-color: #a50d0d;
}

details
{
  font-style: italic;
  color: #505050;
}

summary
{
  font-style: normal;
  color: black;
}


pre
{
  margin: 0;
  padding: 0;
}

#errormessage
{
   font-weight: bold;
   padding: 0.5em;
   margin-bottom: 2em;
   background-color: red;
}

.queued    { color: black; }
.running   { color: blue; }
.success   { color: green; }
.badpatch  { color: red; }
.badbuild  { color: red; }
.testfail  { color: red; }
.boterror  { color: #e55600; }
.canceled  { color: black; }

.log-info  { background-color: #d9ffcc; }
.log-skip  { color: blue; }
.log-todo  { color: #d08000; }
.log-error { color: red; }
.log-boterror { color: #cc0052; }

a.title { color:inherit; text-decoration: none; }

th.Record { text-align: center; }
td.Record { text-align: center; }
.RecordEngine { font-style: italic; color: #601919; }
.RecordHost { font-size: smaller; }
.RecordJob { font-size: smaller; }
.RecordDuration { }
.RecordResult { font-size: smaller; font-style: italic; }

.Record-start { }
.Record-off { color: #c0c0c0; }
.Record-unknown { background-color: #c0c0c0; }
.Record-offline { background-color: red; }

/* Greens for preparing VMs */
.Record-reverting { background-color: #70ff54; }
.Record-sleeping { background-color: #a3ff7a; }
.Record-idle { background-color: #ccff99; }

/* Yellows for running VMs */
.Record-running { background-color: #ffcc00; }
.Record-dirty { background-color: #ffe633; }

/* Blues for disabled VMs */
.Record-maintenance { background-color: #adccef; }
.Record-retired { background-color: #72a7e4; }
.Record-deleted { background-color: #246bbc; }

/* Special borders */
.Record.Record-left { border-left: thin solid #601919; }
.Record.Record-right { border-right: thin solid #601919; }
.Record.Record-boterror { border-left: thick solid red; border-right: thick solid red; }
.Record.Record-error { border-left: thick solid #990000; border-right: thick solid #990000; }
.Record.Record-timeout { border-left: thick solid blue; border-right: thick solid blue; }
.Record.Record-miss { border-top: thick dashed #ff6600; }

td.StatSeparator { color: #601919; font-weight: bold; }
